:root {
  --primary-color: #a7c957;
  --secondary-color: #005700;
  --light-color: #f2e8cf;
  --dark-color: #005700;
  --light-background: #a7c957;
  --dark-background: #005700;
}

* {
  margin: 0;
  padding: 0;
  color: var(--dark-color);
}

body {
  background-color: var(--light-background);
}

nav {
  border-top: 2px solid var(--dark-background);
}

header {
  border-bottom: 2px solid var(--dark-background);
}

.mobile-header {
  position: relative;
  align-items: center;
}

.mobile-nav {
  display: none;
}

#ham-menu {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: relative;
  margin-right: 16px;
}

#ham-menu span {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: var(--dark-background);
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

#ham-menu span:nth-child(1) {
  top: 15%;
}

#ham-menu span:nth-child(3) {
  top: 85%;
}

#ham-menu.active span:nth-child(1) {
  top: 55%;
  transform: translate(-50%, -50%) rotate(45deg);
}

#ham-menu.active span:nth-child(2) {
  opacity: 0;
}

#ham-menu.active span:nth-child(3) {
  top: 45%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.logo-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-color);
}

nav {
  background-color: var(--dark-background);
}

ul {
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  width: 100%;
}

li a {
  display: block;
  padding: 16px;
  color: var(--light-color);
  text-decoration: none;
  width: 100%;
  text-align: center;
}

li a:hover,
.current-tab {
  background-color: var(--light-color);
  color: var(--dark-background);
}

#profile {
  width: 6%;
  min-width: 50px;
}

h1 {
  text-align: center;
  color: var(--light-color);
  background-color: var(--dark-background);
  padding: 8px 0;
}

.view-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 16px 0; */
}

.active-view {
  background-color: var(--dark-background);
  color: var(--light-color);
  border: 2px solid var(--light-color);
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 4px;
}

.list-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

img {
  object-fit: contain;
  width: 100px;
}

.hero {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("../images/fourleafclover.jpg") no-repeat center center/cover;
}

.hero-text {
  width: 100%;
  position: absolute;
  top: 30%;
  /* right: 30%; */
  color: var(--light-color);
  /* padding: 16px; */
  border-radius: 8px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.678);
}

.hero-button {
  text-decoration: none;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-button,
button {
  background-color: var(--primary-color);
  color: var(--dark-background);
  border: 2px solid var(--dark-background);
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
}

.hero-button:hover,
button:hover {
  background-color: var(--light-color);
  color: var(--dark-background);
  border: 2px solid var(--dark-background);
}

.summary {
  border: 2px solid var(--dark-background);
  background-color: var(--light-color);
  border-radius: 8px;
  margin: 16px 8px;
}

.summary h2 {
  background-color: var(--dark-background);
  color: var(--light-color);
}

.summary > p,
.summary > ul {
  padding: 4px 8px;
}

.company-card {
  border: 2px solid var(--dark-background);
  background-color: var(--light-color);
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: auto;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--dark-background);
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.card-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-side-text {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

#weather-info {
  display: flex;
  align-items: center;
  background-color: var(--light-background);
  /* gap: 16px; */
  /* margin-top: 8px; */
  border-bottom-left-radius: 8px;
}

.weather-text {
  background-color: var(--light-color);
  padding: 8px;
  width: 100%;
  border-bottom-right-radius: 8px;
}

footer {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--dark-background);
}

footer > div {
  padding: 8px;
}

#bold-text {
  font-weight: bold;
}
