@media screen and (min-width: 712px) {
  #ham-menu {
    display: none;
  }

  #logo-title {
    display: block;
  }

  .logo-banner {
    width: 50%;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--light-color);
  }

  .mobile-nav {
    padding: 4px 16px 0 16px;
    display: flex;
    flex-direction: row;
  }

  .personal-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }

  .current-info,
  #company-spotlights {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
  }

  .summary {
    width: 30%;
  }

  #info-text {
    grid-column: 1/3;
  }

  #info-photo {
    grid-column: 3/4;
  }

  .company-card {
    width: 400px;
  }

  .view-toggle {
    margin: 16px;
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  button {
    background-color: var(--primary-color);
    color: var(--dark-background);
    border: 2px solid var(--dark-background);
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
  }

  button:hover {
    background-color: var(--light-color);
    color: var(--dark-background);
    border: 2px solid var(--dark-background);
  }

  form {
    width: 50%;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
