@media screen and (min-width: 641px) {
  .attraction-card {
    display: grid;
    grid-template-areas:
      "image name"
      "image description"
      "image location"
      "button button";
  }
  .attraction-card > img {
    width: 300px;
  }

  .attraction-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px) scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
  }
}
