:root {
  --dark-bg: #3f2314;
  --light-color: #f69800;
  --light-bg: #fefcad;
}

* {
  margin: 0;
  padding: 0;
  color: var(--dark-bg);
}

nav {
  border-top: 2px solid #f69800;
}

#logo-title {
  display: none;
}

.mobile-header {
  /* width: 100%; */
  position: relative;
  align-items: center;
}

.mobile-nav {
  display: none;
}

#ham-menu {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: relative;
  margin-right: 32px;
}

#ham-menu span {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: var(--dark-bg);
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

#ham-menu span:nth-child(1) {
  top: 15%;
}

#ham-menu span:nth-child(3) {
  top: 85%;
}

#ham-menu.active span:nth-child(1) {
  top: 55%;
  transform: translate(-50%, -50%) rotate(45deg);
}

#ham-menu.active span:nth-child(2) {
  opacity: 0;
}

#ham-menu.active span:nth-child(3) {
  top: 45%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.logo-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-color);
}

.logo-banner h1 {
  color: var(--dark-bg);
  font-size: 1.5rem;
}

nav {
  background-color: var(--dark-bg);
}

ul {
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  /* padding: 16px; */
  width: 100%;
}

li a {
  display: block;
  padding: 16px;
  color: var(--light-color);
  text-decoration: none;
  width: 100%;
  text-align: center;
}

li a:hover {
  background-color: var(--light-color);
  color: var(--dark-bg);
}

#profile {
  width: 6%;
  min-width: 50px;
}

body {
  background-color: bisque;
}

main {
  width: 90%;
  margin: 16px auto;
}

section {
  margin: 16px 0;
  border: 2px solid var(--dark-bg);
  border-radius: 8px;
}

h2 {
  text-align: center;
  background-color: var(--dark-bg);
  color: var(--light-color);
  border-radius: 8px;
}

section p,
.card-body {
  background-color: var(--light-bg);
  border-radius: 8px;
}
.card-body {
  padding: 16px;
}

#studentphoto {
  max-width: 40%;
}

.student-img-container {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefcad;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 16px; */
  width: 100%;
  padding: 16px;
}

#all-classes,
#cse-classes,
#wdd-classes {
  padding: 12px;
  width: 30%;
  font-size: 1.2rem;
  background-color: var(--light-color);
  color: var(--dark-bg);
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--dark-bg);
  border-radius: 8px;
}

#all-classes:hover,
#cse-classes:hover,
#wdd-classes:hover {
  color: var(--light-bg);
  border: 2px solid var(--light-bg);
}

#class-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.class-link {
  width: 95%;
  padding: 16px;
  margin: 8px 0;
  background-color: var(--light-color);
  color: var(--dark-bg);
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--dark-bg);
  border-radius: 8px;
}

.class-link:hover {
  color: var(--light-bg);
  border: 2px solid var(--light-bg);
}

footer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg);
}

.footer-text p {
  color: var(--light-color);
}

#currentYear {
  color: var(--light-color);
}
